#suggestion_box
  - form_tag("/main/create", :method=>"post") do 
    Suggest a name: 
    = text_field_tag("name")
    = submit_tag("Submit")
%ul#suggestions
  - @names.each do |name|
    %li
      %p.name
        = sanitize(name.name) 
      %p.name_info
        submitted by altay
        &bull;
        = link_to('like') 
        &bull;
        = link_to('dislike') 
