%li{:class=>"name name_#{name.secret_id}"}
  %p.name
    = h(name.name) 
  %p.name_info
    submitted by 
    = link_to(h(name.user.login), profile_url(:login=>name.user.login))
    &bull;
    = link_to_function('like', "BN.toggle_opinion('#{name.secret_id}', 'like')", :class=>'like_link') 
    (
    %span{:class=>"count likes_count_#{name.secret_id}"}<>= name.likes_count.to_s
    )
    &bull;
    = link_to_function('dislike', "BN.toggle_opinion('#{name.secret_id}', 'dislike')", :class=>'dislike_link') 
    (
    %span{:class=>"count dislikes_count_#{name.secret_id}"}<>= name.dislikes_count.to_s
    )
